</head>
<body>

<h2>Add Measurement</h2>

<form action="/measurements" method="post">

    Customer ID: <input type="number" name="customer.id"><br><br>

    Chest: <input type="number" name="chest"><br><br>
    Waist: <input type="number" name="waist"><br><br>
    Shoulder: <input type="number" name="shoulder"><br><br>
    Sleeve: <input type="number" name="sleeve"><br><br>
    Neck: <input type="number" name="neck"><br><br>
    Pant Length: <input type="number" name="pantLength"><br><br>

    <button type="submit">Save</button>
</form>

</body>
</html>
